.pad {
  margin: 0 auto;
  background: tomato;
  max-width: 800px;
}

.left {
  position: relative;
  word-break: break-word;
  display: table;
  float: left;
  background: rgb(247,241,206);
  border-radius: 4px;
  margin-left: 2%;
  margin-right: 30%;
  padding: 10px;
  min-width: 300px;
}

.right {
  position: relative;
  word-break: break-word;
  display: table;
  float: right;
  background: rgb(197,213,93);
  border-radius: 4px;
  margin-left: 30%;
  margin-right: 2%;
  padding: 10px;
  min-width: 300px;
}

.left:before,
.right:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  position: absolute;
  top: 8px;
}

.left:before {
  border-right: 16px solid rgb(247,241,206);
  left: -20px;
}

.right:after {
  border-left: 16px solid rgb(197,213,93);
  right: -20px;
}
